{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ panorama.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css">
    <style>
        #viewer-container {
            width: 100%;
            height: 100vh;
            position: relative;
        }
        .psv-marker-tooltip {
            background: rgba(0,0,0,0.7);
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div id="viewer-container"></div>


    <!-- Подключаем зависимости -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/plugins/markers.min.js"></script>

   
    <script>
        import { Viewer } from '@photo-sphere-viewer/core';
        import { MarkersPlugin } from '@photo-sphere-viewer/markers-plugin';

        document.addEventListener('DOMContentLoaded', function() {
            const viewer = new Viewer({
                container: document.getElementById('viewer-container'),
                panorama: '{{ panorama.image.url }}',
                loadingImg: '{%  static "images/loader.gif" %}',
                defaultZoomLvl: 50,
                plugins: [
                    [PhotoSphereViewer.MarkersPlugin, {
                        // Маркеры
                        markers: [
                            {% for marker in markers %}
                            {
                                id: 'marker-{{ marker.id }}',
                                longitude: {{ marker.longitude }},
                                latitude: {{ marker.latitude }},
                                image: '{% static "images/pin-red.png" %}',
                                width: {{ marker.size.width }},
                                height: {{ marker.size.height }},
                                anchor: 'bottom center',
                                tooltip: {
                                    content: '{{ marker.text }}',
                                    className: 'psv-marker-tooltip'
                                },
                                data: {
                                    {% if marker.linked_panorama %}
                                    linkedPanoramaId: {{ marker.linked_panorama.id }}
                                    {% endif %}
                                }
                            },
                            {% endfor %}
                        ]
                    }]
                ]
            });
    </script>
</body>
</html>